:root {
  --raisin-black: #28262C;
  --tropical-indigo: #998FC7;
  --olivine: #A0AF84;
  --magnolia: #F9F5FF;
  --coral-pink: #E08D79;
  --perfume-haze: #F3EBF4;
  --alice-blue: #DEE8F8;
  --platinum: #E9ECEA;
}

html {
  font-size: 62.5%;
  color: var(--raisin-black);
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

body {
  min-height: 100%;
  margin: 0;
  display: flex;
  font-size: 1.6rem;
  background-color: var(--magnolia);
}

header {
  display: flex;
  background-color: var(--olivine);
}

a {
  color: var(--tropical-indigo);
}

header a {
  margin: 10pt 20pt;
  display: block;
  text-align: right;
  color: var(--raisin-black);
}

nav {
  display: flex;
  width: 100%; /* needed for mobile view */
  flex-direction: column;
  font-weight: bolder;
  font-size: 2rem;
  text-transform: uppercase;
  box-shadow: inset -20px 5px 40px rgb(0 0 0 / 10%);
}

@media (max-width: 822px) {
  body {
    flex-direction: column;
  }
  nav {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}


nav a {
  text-decoration: none;
  padding: 5pt 0;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  padding: 1.2rem 1.2rem;
  margin: 0 30pt;
  border-top: 0.2rem solid var(--raisin-black);
  font-size: 1.2rem;
}

p {
  line-height: 1.3em;
}

li {
  margin: 10px;
}

h1.title {
  background-color: var(--alice-blue);
  padding: 2rem;
  border-radius: 10pt;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  width: fit-content;
}

h1 {
  background-color: var(--platinum);
  padding: 1.2rem;
  border-radius: 10pt;
  font-size: 2.5rem;
  font-weight: bolder;
  text-alignt: center;
  width: fit-content;
}

h2 {
  font-size: 2.2rem;
}

article .header {
  font-size: 1.4rem;
  font-style: italic;
}

.logo a {
  font-weight: bold;
  text-decoration: none;
}

.open-to-work {
  font-style: italic;
  opacity: 0.7;
}

pre {
  padding: 10pt;
  border-radius: 10pt;
  background-color: var(--perfume-haze);
  overflow-x: auto;
}

code {
  background-color: var(--perfume-haze);
}

div.content {
  padding: 30pt;
  width: 800pt;
}
