.Terminal {
    background: $color-seaweed;
    position: absolute;
    width: 1000px;
    height: 700px;
    border: 1px $color-turquoise-blue dashed;
    font-family: 'Inconsolata', monospace;
    color: $color-turquoise-blue;
}
